# Set your LLM keys here
OPENAI_API_KEY=
ANTHROPIC_API_KEY=

# (OPTIONAL) Langsmith tracing config
# Get the key from https://smith.langchain.com/settings/apikeys
LANGSMITH_TRACING=false
LANGCHAIN_PROJECT=
LANGCHAIN_API_KEY=
